src/main/resources/schemas/ewp-specs-api-omobilities-v3.0.0/endpoints/get-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:trm="https://github.com/erasmus-without-paper/ewp-specs-types-academic-term/tree/stable-v1"
    xmlns:ewp="https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/stable-v1/common-types.xsd"
    elementFormDefault="qualified"

    targetNamespace="https://github.com/erasmus-without-paper/ewp-specs-api-omobilities/blob/stable-v3/endpoints/get-response.xsd"
    xmlns="https://github.com/erasmus-without-paper/ewp-specs-api-omobilities/blob/stable-v3/endpoints/get-response.xsd"
>

    <xs:import
        schemaLocation="../../ewp-specs-architecture-v1.16.0/common-types.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/stable-v1/common-types.xsd"
    />

    <xs:import
        schemaLocation="https://raw.githubusercontent.com/erasmus-without-paper/ewp-specs-types-phonenumber/stable-v1/schema.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-types-phonenumber/tree/stable-v1"
    />

    <xs:import
        schemaLocation="https://raw.githubusercontent.com/erasmus-without-paper/ewp-specs-types-academic-term/stable-v1/schema.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-types-academic-term/tree/stable-v1"
    />

    <xs:annotation>
        <xs:documentation>
            This schema is a part of the Erasmus Without Paper project. Before you start
            using it, make sure you have read the general rules described here:

            https://developers.erasmuswithoutpaper.eu/
        </xs:documentation>
    </xs:annotation>

    <xs:element name="omobilities-get-response">
        <xs:annotation>
            <xs:documentation>
                This describes the format of the response returned by the EWP Outgoing
                Mobilities API.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="SequenceOfMobilities" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Clients should use the `omobility-id` subelements to match objects with their
                            `omobility_id` request parameters.
                        </xs:documentation>
                    </xs:annotation>
                </xs:group>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:group name="SequenceOfMobilities">
        <xs:annotation>
            <xs:documentation>
                This is global, because it is used in external XSDs. It MUST stay this way, for
                backward compatibility.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="SingleMobilityObject" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        A list of matching mobilities.

                        Currently, there's only one type of mobility exposed by this API. More types MAY
                        come in the future.
                    </xs:documentation>
                </xs:annotation>
            </xs:group>
        </xs:sequence>
    </xs:group>

    <xs:group name="SingleMobilityObject">
        <xs:annotation>
            <xs:documentation>
                Represents a single mobility of any type.

                This is global, because it is used in external XSDs. It MUST stay this way, for
                backward compatibility.
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element ref="student-mobility"/>
        </xs:choice>
    </xs:group>

    <xs:element name="student-mobility">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    This describes a single Student Mobility.

                    Immutable elements
                    ------------------

                    Every mobility has its unique sending-hei, receiving-hei and nominee, which
                    MUST NOT change after the mobility is created. For example, if it turns out
                    that a different student will be nominated for this mobility, then a new
                    omobility-id MUST be created for such nomination. However, the properties of
                    these mobility-related entities still MAY change. E.g. the student's name may
                    get updated.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="omobility-id" type="ewp:AsciiPrintableIdentifier" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Identifier of the mobility (as assigned by the sending HEI). Immutable.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="student" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The section describes the student who is being sent for this mobility. Immutable.

                            These fields MAY change in time (e.g., after the student changes his name).

                            Sending HEI MUST inform the receiving HEI about the change,
                            the receiving HEI MUST not change the previous decision about the nomination.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="given-names" type="ewp:StringWithOptionalLang" minOccurs="1" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        The given names of the person.

                                        It MAY be specified in multiple languages (and/or multiple alphabets), as it
                                        has been explained in the `contact` element:
                                        https://github.com/erasmus-without-paper/ewp-specs-types-contact
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="family-name" type="ewp:StringWithOptionalLang" minOccurs="1" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        The family name of the person.

                                        It MAY be specified in multiple languages (and/or multiple alphabets), as it
                                        has been explained in the `contact` element:
                                        https://github.com/erasmus-without-paper/ewp-specs-types-contact
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="global-id" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Global student identifier. Should follow the specification of the
                                        European Student Identifier
                                        (https://wiki.geant.org/display/SM/European+Student+Identifier).
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="birth-date" type="xs:date" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Date of birth.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="nationality" type="ewp:CountryCode" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Nationality of the person, e.g. "PL".
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="gender" type="ewp:Gender" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Code of the gender.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="email" type="ewp:Email" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Email address at which student should be contacted.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="nomination" minOccurs="1" maxOccurs="1" type="NominationType">
                    <xs:annotation>
                        <xs:documentation>
                            Student's nomination details.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="status" type="MobilityStatus" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Current status of the mobility.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="NominationType">
        <xs:sequence>
            <xs:element name="sending-hei" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        This describes the sending HEI - the home institution of the student being sent.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hei-id" type="xs:string" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    SCHAC ID of the institution. Immutable.
                                    https://github.com/erasmus-without-paper/ewp-specs-api-registry/#schac-identifiers

                                    Clients can fetch more information on this HEI from the Institutions API
                                    served on the sending HEI's servers.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ounit-id" type="ewp:AsciiPrintableIdentifier" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    Optional organizational unit ID. If given, then it refers to the unit within
                                    the sending HEI's organizational structure, which is responsible for this
                                    student.

                                    Clients can fetch more information on this unit from Organizational Units API
                                    served on the sending HEI's servers.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="iia-id" type="ewp:AsciiPrintableIdentifier" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    ID of the EWP Institutional Agreement based on which the student is being
                                    nominated/sent. If such EWP IIA exists, is mutually approved, and the server implements EWP's
                                    Interinstitutional Agreements API, this field MUST be provided.

                                    Clients can fetch more information on this
                                    agreement from IIAs API served on the sending HEI's servers (e.g., contact
                                    information to an appropriate IRO representative responsible for sending
                                    students for mobilities based on this IIA).
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="receiving-hei" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        This describes the receiving HEI - the institution which will be hosting the
                        student.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hei-id" type="xs:string" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    SCHAC ID of the institution. Immutable.
                                    https://github.com/erasmus-without-paper/ewp-specs-api-registry/#schac-identifiers

                                    Clients can fetch more information on this HEI from the Institutions API
                                    served on the *receiving HEI's* servers.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ounit-id" type="ewp:AsciiPrintableIdentifier" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    Optional organizational onit ID. If given, then it refers to the unit within
                                    the receiving HEI's organizational structure, which is responsible for receiving
                                    this student.

                                    If provided, then it MUST have the value of the "external" ounit-id, exactly as
                                    it has been assigned by the *receiving HEI* in its Organizational Units API.
                                    Clients can fetch more information on this unit from Organizational Units API
                                    served on the *receiving HEI's* servers.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="iia-id" type="ewp:AsciiPrintableIdentifier" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    *Receiving HEI's* ID assigned to the IIA based on which the
                                    student is being sent. If sending HEI's ID has been provided,
                                    then this field MUST also be provided.

                                    Clients can fetch more information on this agreement from IIAs API served on
                                    the *receiving HEI's* servers (e.g., contact information of the coordinator who
                                    will receive the students).
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Most mobilities take place (or are supposed to take place) during a single
                        academic term (or part of such single term). The sending HEI is REQUIRED to
                        either identify this term, or to clearly state that the sending mobility period
                        is "non-standard", and is not contained by any single academic term.

                        This information needs to be provided "from the start" (when a new nomination is
                        created).

                        For more information, read this thread:
                        https://github.com/erasmus-without-paper/ewp-specs-types-academic-term/issues/2
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="sending-academic-term-ewp-id" type="trm:EwpAcademicTermId">
                    <xs:annotation>
                        <xs:documentation>
                            If this element is present, then the sending HEI states that the mobility is
                            supposed to take place *during* the academic term identified here.

                            "During" doesn't imply that it will take place over the *entire* period of the
                            academic term. However, it's also RECOMMENDED to supply the *smallest* academic
                            term within which the mobility period fits into (i.e. the use of an academic
                            year should be avoided if a semester is sufficient). See here:
                            https://github.com/erasmus-without-paper/ewp-specs-api-omobilities/pull/30#discussion_r159843983

                            Note that sending and receiving HEIs MAY use different academic term
                            identifiers (e.g. "2022/2023-1/2" might be equal to "2022/2022-2/2"). This
                            particular identifier is the term identifier at the *sending* HEI, not the
                            receiving HEI.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="non-standard-mobility-period" type="ewp:Empty">
                    <xs:annotation>
                        <xs:documentation>
                            If this element is present, then the sending HEI states that the mobility is
                            supposed to take place outside the bounds of any standard academic term. E.g.
                            during the summer vacations.

                            This element is currently empty, but this MAY change in the future. Clients
                            MUST be ready for that (and treat such non-empty element as if it was empty).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="receiving-academic-year-id" type="trm:AcademicYearId" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Academic year during which this mobility takes place (or is supposed to take
                        place).

                        Note, that sending and receiving HEIs MAY use different academic year
                        identifiers (e.g. "2022/2023" vs. "2022/2022" or "2023/2023"). This
                        particular identifier is the year identifier at the *receiving* HEI, not the
                        sending HEI.

                        This means that the sending HEI MUST know how the receiving HEI identifies its
                        academic years (i.e. whether it lies on the northern or southern hemisphere),
                        and be able to match its mobilities with these identifiers.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="activity-type" type="MobilityActivityType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Student mobility activity type.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="activity-attributes" type="MobilityActivityAttributes" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Student mobility activity attributes, such as the length of the activity,
                        study level, or the nature of the educational components.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="agreement-isced-f-code" type="Isced" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The field of education of the agreement.
                        This field must use the 4-digit code based on ISCED-F 2013 standards.
                        It is strongly recommended to use codes included in the Beneficiary Module data dictionary.

                        The sending HEI indicates the ISCED field of education
                        of the agreement's cooperation condition they want to nominate the student on.
                        This field was added to "connect" (in a technical or functional way)
                        a nomination to an agreement on the receiving HEI's side.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="eqf-level-studied-at-departure" type="ewp:EqfLevel" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The student is sent for the mobility as part of one of his study programmes.
                        This field contains the EQF level the student **will have** when the mobility
                        actually begins.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nominee-isced-f-code" type="Isced" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The student is sent to the mobility as part of one of his study programmes.
                        This field contains the ISCED-F field of education code that is closest to the
                        subject this programme (or, as EUC put is, "closest to the degree to be awarded
                        to the student by the Sending Institution").

                        Note: ISCED code MUST be four-digit.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        An optional comment. It is RECOMMENDED for comments to be provided only when
                        necessary. Some example comments:
                        * Person X from your university has agreed to accept an additional student
                        above the limit defined in the IIA cooperation conditions,
                        * A student at our university has completed a three-year bachelor's degree
                        and is in the first year of second-cycle studies.
                        Since in your country the bachelor's degree is four years,
                        the student should go to first-cycle studies.

                        These comments MUST be visible only to the IRO members, not the students.

                        It is left unspecified how servers should handle these comments - e.g.,
                        they may store them along their mobilities, or they may forward them to specific persons, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="proposal-id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Identifier of this nomination proposal. It MUST change if and only if
                    the `nomination` content changes.

                    It will be used in update request to identify the version being approved/rejected.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="MobilityStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="pending">
                <xs:annotation>
                    <xs:documentation>
                        The sending HEI has nominated the student for mobility. The proposal has not
                        yet been approved nor rejected by the receiving HEI.

                        This is the default status with which mobility entities are first created.

                        When the sending HEI receives confirmation from the receiving HEI
                        that the nomination has reached the system at the receiving HEI,
                        it notifies the users (an internal `delivered` status may be noted in the local system).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="approved">
                <xs:annotation>
                    <xs:documentation>
                        The receiving HEI has recognized the nomination as formally correct
                        and complying with cooperation conditions.
                        It accepted the nomination.
                        Now it's time for settling formalities, sending student's documents,
                        creating the first Learning Agreement, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="rejected">
                <xs:annotation>
                    <xs:documentation>
                        The receiving HEI has rejected the nomination and added an explanation in a mandatory comment.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="cancelled">
                <xs:annotation>
                    <xs:documentation>
                        The sending HEI has cancelled the nomination as the mobility won’t take place.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MobilityActivityType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="student-studies">
                <xs:annotation>
                    <xs:documentation>
                        Student Mobility for Studies (SMS).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MobilityActivityAttributes">
        <xs:restriction base="xs:string">
            <xs:enumeration value="long-term">
                <xs:annotation>
                    <xs:documentation>
                        Long-term physical mobility (with an optional virtual component).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="short-term-blended">
                <xs:annotation>
                    <xs:documentation>
                        Short term blended mobility (with a compulsory virtual component).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="short-term-doctoral">
                <xs:annotation>
                    <xs:documentation>
                        Short term doctoral mobility (with an optional virtual component).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Isced">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
